body {
  font-family: Corben;
  min-height: 100vh;
  background: radial-gradient(#fca, #da6);
  text-align: center;
}
.CombatCanvas,
.HeroCanvas,
.MapCanvas {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 20px;
  box-shadow: #0009 0px 10px 20px;
  height: 80vh;
}
.CombatCanvas,
.HeroCanvas {
  background: #3b570a;
}
.HeroCanvas {
  width: 300px;
}
h1,
h2,
h3 {
  font-family: Grenze Gotisch;
}
button {
  border: 0;
  padding: 0 10px;
  font-family: Grenze Gotisch;
  font-size: 30px;
  box-shadow: #0009 0px 5px 10px;
  border-radius: 20px;
  margin: 10px 20px;
  background-color: #a74;
  background-image: linear-gradient(
    -60deg,
    #fff0 45%,
    #fff8 50%,
    #fff8 60%,
    #fff0 65%
  );
  background-position: -100px 0;
  background-size: 200px auto;
  cursor: pointer;
  transition: text-shadow 0.5s, background-color 0.5s;
}
button:focus:enabled,
button:hover:enabled {
  outline: none;
  background-color: #c95;
  animation: shine 2s infinite;
  text-shadow: 0 0 3px #fff;
}
@keyframes shine {
  from {
    background-position: -100px 0;
  }
  to {
    background-position: 100px 0;
  }
}

.CardBack,
.HeroCard {
  overflow: hidden;
  position: relative;
  margin: 10px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: #0009 0px 10px 20px;
  background: radial-gradient(#fc4, #da3);
  backface-visibility: hidden;
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  text-align: center;
}
.Clickable {
  cursor: pointer;
}
.CardBack {
  background-color: #ba4;
  background-image: radial-gradient(transparent, #a83);
  transition: background-color 0.2s ease, box-shadow 0.6s ease-in;
  box-shadow: #0006 0px 2px 6px;
}
.HeroCard.Level1 {
  background: radial-gradient(#888, #ca9);
}
.HeroCard.Level2 {
  background: radial-gradient(#9ad, #abe);
}
.HeroCard.Level3 {
  background: radial-gradient(#9a9, #ada);
}
.HeroCard.Level4 {
  background: radial-gradient(#aa1, #dd3);
}

.CardBackground {
  position: absolute;
  background: url(/card.png);
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  mix-blend-mode: multiply;
}

.CardPortrait {
  position: absolute;
  border-radius: 20px;
  left: 10%;
  top: 10%;
  height: 80%;
  width: 80%;
  background-size: cover;
  background-position: center;
}

.CardName {
  position: absolute;
  top: 80%;
  width: 100%;
  font-family: Grenze Gotisch;
  font-size: 30px;
  font-weight: bold;
}

.HeroList {
  display: flex;
  flex-wrap: wrap;
}
.CardLevel {
  position: absolute;
  top: 10%;
  width: 80%;
  text-align: right;
  font-weight: normal;
}

.HeroPage {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.HeroPage .HeroPortrait {
  width: 300px;
  height: 400px;
  background-size: cover;
  border-radius: 20px;
  margin: 20px;
  box-shadow: #0009 0px 10px 20px;
}
.HeroPage .HeroText {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.HeroPage .HeroName {
  font-family: Grenze Gotisch;
  font-size: 40px;
  font-weight: bold;
  initial-letter: 2;
}
.HeroPage h1::first-letter,
.HeroPage .HeroName::first-letter {
  color: #d00a;
  font-size: 50px;
}
.HeroPage .Locked {
  opacity: 50%;
}
.HeroPage h1 {
  margin-bottom: 0;
}
.HeroPage p {
  margin-top: 0;
}
.HeroPage .HeroAbilities {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.HeroPage .HeroAbility {
  flex: 1 40%;
  margin: 10px;
}

.PanelHeader {
  position: absolute;
  top: 0;
  border-bottom: 1px solid black;
}

.Searched {
  display: flex;
  justify-content: center;
}
.Searched .CardBack {
  position: absolute;
}
.Searched .CardBack:hover {
  background-color: #fb5;
  box-shadow: #54c 0px 10px 20px;
}

.Party {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #8008;
}

.Enemy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Enemy > p {
  display: absolute;
  width: 100%;
  text-align: left;
  padding-left: 50px;
}
.Enemy .HeroCard {
  height: 200px;
  width: 150px;
  filter: grayscale(80%);
}
.Enemy .CardName {
  font-size: 20px;
}

.LoyaltyBar {
  width: 100%;
  height: 10px;
  border: 1px solid black;
  background: black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  margin: 0;
}
.LoyaltyBarChange,
.LoyaltyBarInside {
  height: 100%;
  background: #6c4;
  transition: width 0.25s;
}
.Evil .LoyaltyBarInside {
  background: #c64;
}
.LoyaltyBarChange.Damage {
  background: yellow;
}
.LoyaltyBarChange.Heal {
  background: #5a3;
}
.Evil .LoyaltyBarChange.Heal {
  background: #a53;
}

.HeroStats span {
  margin: 20px;
}
.HeroPageButton {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  margin: 20px;
}
.HeroPageButtons {
  margin: 20px -20px;
  display: flex;
  justify-content: left;
}

.TopStats {
  background: black;
  color: white;
  padding: 5px;
  display: flex;
  font-weight: bold;
}
.TopStats span {
  flex: 1;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100000000000000000;
  background: #a748;
}

#result {
  position: absolute;
  font-family: Grenze Gotisch;
  font-size: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

#post-battle {
  position: absolute;
  top: 52%;
  left: 51%;
  transform: translate(-50%, 0);
  z-index: 100000000000000000;
}

.HeroStory {
  position: relative;
  padding-top: 50px;
}
.HeroPage .HeroStoryText {
  font-style: italic;
  border-radius: 4px;
  margin-top: 20px;
  padding: 5px 10px;
  border: 2px solid #0004;
}

.InspirationMark::after {
  content: '★';
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.InspirationMark {
  font-size: 10px;
  display: inline-block;
}
.InspirationBar {
  position: absolute;
  width: 100%;
  top: 0;
}

.CombatHeroStats {
  transform: translate3d(-50%, -30px, 0) !important;
  width: 120px;
  text-align: center;
  position: relative;
}
