.CardBack,
.HeroCard {
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: black 0px 10px 20px;
  background: radial-gradient(#fc4, #da3);
  backface-visibility: hidden;
}
.CardBack {
  background: radial-gradient(#ca4, #a83);
  cursor: pointer;
}

.CardBackground {
  position: absolute;
  background: url(/card.png);
  height: 100%;
  width: 100%;
  background-size: contain;
  mix-blend-mode: multiply;
}

.CardPortrait {
  position: absolute;
  border-radius: 20px;
  left: 10%;
  top: 10%;
  height: 80%;
  width: 80%;
  background-size: cover;
}

.CardName {
  position: absolute;
  top: 80%;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 4px white;
}
